{% if self.body() %}
{% if target %}
Dear {{ target | owner_desc(true) }},

{% endif %}
{% block body %}{% endblock %}

Best wishes,
The SRCF sysadmins
{% if footer %}

-- 
{{ footer }}
{% endif %}
{% endif %}
