To access the database via a web interface (phpMyAdmin):

    https://www.srcf.net/phpmyadmin

To access the database from the shell, use the following command:

    mysql -u {{ username }} -p {{ password }}

You can change your MySQL password via phpMyAdmin or by issuing the following query:

    SET PASSWORD = PASSWORD('<new password>');
