{% extends layout %}

{% block subject %}
Mailing list password reset
{% endblock %}

{% block body %}
The password for your mailing list '{{ listname }}@srcf.net' has been reset.  Here is your replacement:

    {{ password }}

{% include "/common/password_sharing.j2" %}

To manage the list via a web interface (Mailman):

    https://lists.srcf.net/mailman/admin/{{ listname }}
{% endblock %}
