{% extends layout %}

{% block subject %}
Account password reset
{% endblock %}

{% block body %}
The password for your SRCF account has been reset.  Here is your replacement:

    {{ password }}

{% include "/common/password_sharing.j2" %}

{% endblock %}
