{% extends layout %}

{% block subject %}
MySQL account password reset
{% endblock %}

{% block body %}
The password for your MySQL account '{{ username }}' has been reset.  Here is your replacement:

    {{ password }}

{% include "/common/password_sharing.j2" %}

To access the database via a web interface (phpMyAdmin):

    https://www.srcf.net/phpmyadmin

To access the database from the shell, use the following command:

    mysql -u {{ username }} -p {{ password }}

You can change your MySQL password via phpMyAdmin or by issuing the following query:

    SET PASSWORD = PASSWORD('<new password>');
{% endblock %}
