{% extends layout %}

{% block subject %}
PostgreSQL account created
{% endblock %}

{% block body %}
{% if password %}
Your new PostgreSQL account '{{ username }}' and database{% if database and database != username %} '{{ database }}'{% endif %} are now active.  You will need the following password to login (note that this is not your main SRCF password):

    {{ password }}

{% include "/common/password_sharing.j2" %}

{% else %}
Your new PostgreSQL database '{{ database }}' is now active.  You can use your existing PostgreSQL account to access it.
{% endif %}

{% if target | is_society %}
If you have a personal PostgreSQL account already, you can also login with that to manage both your personal and group databases.  However, as this new account is shared between all admins of the '{{ target.society }}' group account, you MUST use the group account's username/password (rather than your own personal credentials) when configuring any websites, scripts or other programmatic access within the group account.

{% endif %}
{% include "/common/pgsql_access.j2" %}

{% endblock %}
