{% extends layout %}

{% block subject %}
Description updated
{% endblock %}

{% block body %}
This is just to confirm that the description of the '{{ target.society }}' shared account has been updated in our records.
{% endblock %}
