{% extends layout %}

{% block subject %}
New group account
{% endblock %}

{% block body %}
Your new group account '{{ target | owner_name }}' is now live on the SRCF.  A link to this account has been added to your home folder.  Inside, you will find 'public_html' and 'cgi_bin' directories -- you can upload web content here, which will appear at the following address:

    {{ target | owner_website }}

(However, it may take up to 20 minutes between uploading a new site and it being published.)

To find out more about the various services provided by the SRCF, please take a look at our documentation:

    https://docs.srcf.net

If you have any further queries, feel free to email the sysadmins.  Please also remember that the SRCF is a volunteer-run organisation which must ultimately rely on the generosity and support of its members.
{% endblock %}
