{% extends layout %}

{% block subject %}
{{ society.society }}: Group account access granted
{% endblock %}

{% block body %}
You have been granted access to the '{{ society.society }}' shared account on the SRCF{% if actor %} at the request of {{ actor.name }} ({{ actor.crsid }}){% endif %}.  A link to this account has been added to your home folder.  Inside, you will find a public_html and a cgi_bin folder -- you can upload web content here, which will appear at the following address:

    {{ society | owner_website }}

(However, it may take up to 20 minutes between uploading a new site and it being published.)

To find out more about the various services provided by the SRCF, please take a look at our documentation:

    https://docs.srcf.net

If you have any further queries, feel free to contact the sysadmins:

    https://www.srcf.net/contact

Please also remember that the SRCF is a volunteer-run organisation which must ultimately rely on the generosity and support of its members.
{% endblock %}
