{% extends layout %}

{% block subject %}
{{ society.society }}: Group account access removed
{% endblock %}

{% block body %}
You have been removed from the '{{ society.society }}' shared account on the SRCF.

If you believe this to be incorrect, please contact the sysadmins for assistance:

    https://www.srcf.net/contact
{% endblock %}
