Source: python3-srcf
Maintainer: SRCF Sysadmins <sysadmins@srcf.net>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9),
 python3-argcomplete, python3-jinja2, python3-ldap3, python3-psycopg2, python3-pylibacl,
 python3-pymysql, python3-requests, python3-six, python3-sqlalchemy
Standards-Version: 3.9.6
Homepage: https://www.srcf.net

Package: python3-srcf
Architecture: all
Conflicts: python3-srcflib
Replaces: python3-srcflib
Depends: ${misc:Depends}, ${python3:Depends},
 python3-argcomplete, python3-jinja2, python3-ldap3, python3-psycopg2, python3-pylibacl,
 python3-pymysql, python3-requests, python3-six, python3-sqlalchemy
Description: Database schemas and core functionality for the Student-Run Computing Facility.
 A Python library covering database schemas and core functionality for the
 Student-Run Computing Facility.
